{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>


    <link rel="stylesheet" href="{% static 'css/login.css' %}">

{#    <link href="http://res.scholat.com/scholat/styles/scholat/login.gzcss?_dc=74104bcc4c0"#}
{#          rel="stylesheet" type="text/css"/>#}

</head>













<body style="background-color: #3a3d3c">




<div id="div_header" style="background-color: #eaeaea;">
    <div id="div_headernav">
        <div id="div_headernav_left" >
            <a href="/" target="_self" style="color: rgb(219,98,12);font-size: 18pt;"> <h1>Junyu's Blog</h1></a>

        </div>
    </div>
</div>



<div style="background-color: #C25100">
    <div id=loginmain>


        <div id="loginmain_left">
            University of Birmingham
            <br/>
            <br/>
            The "best" university in the world.
        </div>


        <div id="loginmain_right">


            <div>
                <div
                        style="margin-left: 20px; text-align: center; background-color: white; height: 230px;padding-top: 40px; padding-bottom: 20px;">



                    <form method="post" action="{% url 'login' %}" id="loginForm">
                        {% csrf_token %}

                        <div id="logindiv" style="margin-bottom: 24px;">
                            <div style="font-weight: bold; float: left; margin-left: 32px; margin-bottom: 5px;">
                                Username
                            </div>
                            <br>
                            <input type="text"  name="username" autofocus="" autocapitalize="off" autocomplete="username"
                                   tabindex="1" class="c_input" placeholder="Username" value="" required=""/>
                        </div>


                        <div id="logindiv" style="margin-bottom: 34px;">
                            <div style="font-weight: bold; float: left; margin-left: 32px; margin-bottom: 5px;">
                                Password
                            </div>
                            <br>
                            <input id="j_password_ext" name="password" autocomplete="current-password"
                                   type="password" tabindex="2" class="c_input" value=""
                                   placeholder="Password" autocomplete="current-password" required=""/>
                        </div>


                        <div id="logindiv" style="padding-top: 30px;">
                            <input id="login" value="Log in" type="submit" class="c_button"
                                   tabindex="3"/>

                        </div>

                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>


                </div>
            </div>
        </div>
    </div>



    <div id=logbot
         style="width: 100%; margin: 0 auto; text-align: center; border: 0; background-color: #3a3d3c">
        <div
                style="padding: 20px 0; line-height: 28px; font-size: 14px; color: #fff">
            <span>Junyu's Blog</span>
            <br/>
            Contact:JXC1259@student.bham.ac.uk
        </div>
    </div>
</div>



</body>
</html>
