@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli");
body { margin: 0; -webkit-font-smoothing: antialiased; background-color: #fff; font-family: Muli, Arial, sans-serif; color: #54585a; }





button { -webkit-appearance: none; -moz-appearance: none; font-family: Muli, Arial, sans-serif; background: transparent; padding: 0; border: 0; border-radius: 4px; line-height: 1; box-sizing: border-box; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

input[type=text], input[type=password], input[type=email], select { width: 100%; box-sizing: border-box; display: block; height: 40px; margin-bottom: 8px; color: #1b1c1d; background-color: #fafafa; border: 1px solid #eceded; border-radius: 4px; outline: 0; padding: 0 20px 0 13px; -webkit-appearance: none; -moz-appearance: none; /* - Internet Explorer 10–11 - Internet Explorer Mobile 10-11 */ /* Edge (also supports ::-webkit-input-placeholder) */ }

input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder, select::placeholder { color: rgba(84, 88, 90, 0.8); }

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, select:-ms-input-placeholder { color: rgba(84, 88, 90, 0.8); }

input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, select::-ms-input-placeholder { color: rgba(84, 88, 90, 0.8); }

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, select:hover { border-color: #d4d5d5; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus { background-color: #fff; padding-left: 12px; border-color: rgba(194, 81, 0, 0.64); border-width: 2px; outline: none; }

input[type=text]:disabled, input[type=text][readonly], input[type=password]:disabled, input[type=password][readonly], input[type=email]:disabled, input[type=email][readonly], select:disabled, select[readonly] { opacity: 1; color: #bbbbbd; cursor: not-allowed; background-color: transparent; border-color: rgba(84, 88, 90, 0.11); }

.roundedButton__group { display: flex; justify-content: center; align-items: baseline; margin-bottom: 24px; }

.roundedButton__group .button { width: 40px; min-width: 40px; padding: 0; font-size: 0; border-radius: 20px; margin-left: 5px; margin-right: 5px; background-position: center; }

select { background: #fafafa url("/auth-service/sso/resources/public/images/default/icon-arrow-down.svg") no-repeat 90% 50%; }

select:focus::-ms-value { color: #1b1c1d; background: transparent; }

select::-ms-expand { display: none; }

select::-ms-value { background-color: transparent; }

input, select { font-family: Muli, Arial, sans-serif; font-size: 14px; }

input.error, select.error { border: 2px solid #c5003e; padding-left: 12px; margin-bottom: 0; }

input.error:hover, select.error:hover { border: 2px solid #d13365; }

.button { color: #fff; background-color: #54585a; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; width: 100%; min-width: 64px; max-width: 100%; height: 40px; padding: 0 16px; margin: 0; font-size: 13px; font-weight: 700; line-height: 39px; text-align: center; text-decoration: none; cursor: pointer; border: 1px solid transparent; border-radius: 4px; box-sizing: border-box; }

.button:hover, .button:focus { background-color: #45484a; }

.button:active { background-color: #303233; }

.button--secondary { background-color: #f3f3f3; color: #727577; border-color: rgba(84, 88, 90, 0.25); }

.button--secondary:hover, .button--secondary:focus { background-color: #eceded; color: #727577; }

.button--secondary:active { background-color: #d4d5d5; color: #727577; }

.sticky { position: fixed; top: 0; width: 100%; }

.sticky.navigation { margin-top: 0; }

.sticky + div { padding-top: 42px; }



.roundedButton__group .apple-connect-button { background: #000 url("/auth-service/sso/resources/public/images/Apple_icon.svg") no-repeat center 6px; background-size: 22px 22px; }

.info { width: 100%; max-width: 320px; box-sizing: border-box; margin: auto auto 16px; font-size: 13px; border-radius: 4px; padding: 14px 8px 12px 40px; position: relative; min-height: 48px; background: #eceded url("/auth-service/sso/resources/public/images/icon-info.svg") no-repeat 11px 10px; }

.info a { font-size: 13px; line-height: inherit; }

.info__header { font-weight: bold; }

.info--success { color: #61660f; background: #ecefc9 url("/auth-service/sso/resources/public/images/icon-check-circle.svg") no-repeat 11px 10px; }

.info--success a { color: #61660f; }

.info--error { color: #c5003e; background: #f9e5eb url("/auth-service/sso/resources/public/images/icon-error-circle.svg") no-repeat 11px 10px; }

.info--error a { color: #c5003e; }

.info--error:empty { display: none; }

.help { display: block; font-size: 12px; margin-bottom: 10px; }

.help__warning { color: #c5003e; }

.help__link { color: #54585a; text-decoration: underline; cursor: pointer; }

[data-link] { cursor: pointer; }

.navigation { top: 0; left: 0; width: 100%; margin: 16px 0 0 0; border-bottom: 1px solid #d4d5d5; background-color: #fff; z-index: 101; }

.navigation ul { width: 100%; max-width: 320px; margin: 0 auto; list-style: none; padding: 0; display: flex; flex-direction: row; flex-grow: 1; }

.navigation ul li { margin:auto; width: 50%; }

.navigation ul li a { color: #54585a; text-decoration: none; text-transform: uppercase; display: block; text-align: center; font-size: 14px; font-weight: 900; line-height: 40px; }

.navigation ul li.active { border-bottom: 2px solid #C25100; }

.navigation ul li.active a { color: #C25100; }

.tooltip { position: relative; }

.tooltip__wrapper { position: absolute; z-index: 20; box-sizing: border-box; width: 100%; padding: 11px 46px 11px 13px; color: #fff; background-color: #45484a; border-radius: 4px; -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21); box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.21); font-size: 12px; bottom: 12px; }

.tooltip__wrapper::after { content: " "; position: absolute; top: 100%; left: 50%; margin-left: -8px; border-width: 8px; border-style: solid; border-color: #45484a transparent transparent transparent; }

.tooltip__header { font-size: 12px; color: #fff; font-weight: bold; line-height: 16px; margin-bottom: 8px; margin-top: 4px; }

.tooltip__text { margin: 0; }

.tooltip__text--strong { font-weight: bold; }

.tooltip__close:hover { opacity: 1; }

.container { width: 100%; background-color: #fff; }

.sidebar { background-color: #C25100; height: 112px; background-size: 144px auto; position: relative; padding-top: 12px; }

.logo {
  font-size: 30px;
  text-decoration: none;
  color:white;
  display: block;
  position: absolute;
  left: calc(50% - 145px / 2);
  top: -20px;
  width: 145px;
  height: 0;
  padding-top: 55px;
  background-size: contain;
  /*overflow: hidden;*/
}

.back { position: absolute; width: 32px; height: 32px; display: block; border-radius: 50%; top: 8px; left: 8px; }


.back--home { background: rgba(84, 88, 90, 0.25) url("/static/svg/home.svg") no-repeat 4px 4px; background-size: 24px; }

.back__text { display: none; }

.wrapper { flex-basis: 100%; max-width: 320px; margin: auto; padding: 0 32px 32px 32px; }

.alert-error { color: #c5003e; font-size: 12px; line-height: 16px; margin: 4px auto 6px auto; display: block; }

.alert-error a { color: #c5003e; }

.alert-error:empty { display: none; }

.separator { width: 100%; height: 1px; border-style: solid; border-width: 1px 0 0 0; border-top-color: #d4d5d5; position: relative; text-align: center; }

.separator span { top: -12px; left: 50%; transform: translateX(-50%); z-index: 10; display: inline-block; height: 24px; position: absolute; font-size: 13px; font-weight: bold; line-height: 22px; color: #54585a; text-transform: lowercase; background: #fff; border: 1px solid #d4d5d5; border-radius: 20px; }

@media (min-width: 600px) { h1 { margin: 0 0 24px; font-size: 28px; line-height: 36px; }
  h2 { margin: 0 0 12px; font-size: 16px; font-weight: bold; line-height: 24px; }
  .info { font-size: 14px; }
  .info a { font-size: 14px; }
  .wrapper { width: 320px; }
  .content .changeCredentials__wrapper { margin-top: 68px; }
  .navigation { margin: 32px 0 0 0; }
  .navigation ul { width: 320px; }
  .back { width: 96px; height: 40px; border-radius: 30px; text-decoration: none; background-position: 8px 8px; }
  .back--arrow { background: rgba(84, 88, 90, 0.25) url("/auth-service/sso/resources/public/images/arrow-down.svg") no-repeat 15px 13px; background-size: 8px; }
  .back__text { display: block; font-size: 16px; color: #fff; padding-top: 8px; padding-left: 38px; line-height: 1.5; }
  .containerWrapper { display: flex; }
  .container { display: flex; flex-direction: row; min-height: 100vh; }
  .sidebar { height: auto; flex: 1 0 33.333%; position: relative; background-image: none; background-size: contain; }
  .sidebar .back { position: fixed; top: 8px; left: 8px; }
  .logo { font-size: 30px;text-decoration: none;color:white;position: fixed; left: calc(33%/2 - 170px/2); top: calc(42vh - 65px/2); width: 170px; padding-top: 65px; }
  .content { position: relative; flex: 1 0 66.666%; }
  .sticky { position: relative; top: auto; width: auto; }
  .sticky.navigation { margin-top: 32px; }
  .sticky + div { padding-top: 24px; }
  .form__inputGroup { position: relative; display: table; }
  .form__inputGroup input[type=text], .form__inputGroup input[type=password] { display: table-cell; position: relative; width: 100%; margin-bottom: 0; } }

@media (min-width: 600px) and (min-width: 600px) { .form__inputGroup--withPostcode { display: flex; }
  .form__inputGroup--withPostcode .registration__postcodeInput { flex: 109px 0; padding-right: 5px; }
  .form__inputGroup--withPostcode .registration__actions { flex: 1; padding-left: 0; } }

@media (min-width: 600px) { .form__actions { position: relative; font-size: 0; white-space: nowrap; vertical-align: top; display: table-cell; padding-left: 5px; } }

.captchaDisclaimer { font-size: 11px; margin-top: 10px; line-height: 1.3; color: #54585a; }

@media (min-width: 1025px) { html { height: 100%; }
  body { display: flex; flex-direction: column; height: 100vh; background-color: #fafafa; }
  .containerWrapper { display: flex; flex-direction: column; flex-shrink: 0; align-items: center; justify-content: center; width: 100%; min-height: 100%; }
  .sidebar { min-height: 684px; border-radius: 6px 0 0 6px; }
  .sidebar .logo { color:white;left: calc((100vw - 640px - 170px)/2); width: 170px; height: 0; padding-top: 65px; }
  .sidebar .back { position: absolute; top: 8px; left: 8px; }
  @supports (position: sticky) { .sidebar .back { position: sticky; left: calc((100vw - 936px)/2); } }
  .container { width: 960px; min-height: 696px; border-radius: 6px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); position: relative; }
  .content .changeCredentials__wrapper { margin-top: 92px; } }

.login { display: flex; align-items: center; height: calc(100vh - 172px); padding-top: 24px; }

.login__header { font-size: 14px; }

.login__social .facebook-connect-button, .login__social .apple-connect-button { margin-top: 8px; }

.login__separator { margin: 32px auto; margin-bottom: 24px; }

.login__separator span { padding: 0 16px; }

.login__register { display: none; }

.login__forgottenPassword { display: block; margin-top: 8px; }

.login__submit { margin-top: 8px; }

.login .grecaptcha-badge { visibility: hidden; }

@media (min-width: 600px) { .login { height: calc(100% - 99px); } }

.login__header { display: none; }

.elevated { display: flex; margin-top: 33px; padding-top: 32px; }

.elevated__header { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; margin-bottom: 12px; }

.elevated__header h2 { font-size: 22px; font-weight: 500; }

.elevated__header a { color: #b1ba1d; text-align: right; white-space: nowrap; }

.elevated__wrongAccount { font-size: 12px; color: #b1ba1d; line-height: 1.75; }

.elevated__submit { margin-top: 16px; margin-bottom: 3px; }

.elevated__separator { margin: 32px auto; width: auto; }

.elevated__separator span { padding: 0 16px; }

.elevated__social { display: flex; justify-content: center; padding-top: 4px; margin-bottom: 24px; }

.elevated__social .button { padding-left: 0; width: 0; font-size: 0; padding-right: 0; min-width: 40px; border-radius: 20px; }

@media (min-width: 600px) { .elevated { margin-top: 0; height: 100%; align-items: center; } }

.changeCredentials .roundedButton__group { display: flex; justify-content: center; align-items: baseline; margin-bottom: 24px; }

.changeCredentials .roundedButton__group .button { width: 40px; min-width: 40px; padding: 0; font-size: 0; border-radius: 20px; margin-left: 5px; margin-right: 5px; background-position: center; }

.changeCredentials .roundedButton__group .apple-connect-button { background-position: center 6px; }

.changeCredentials__email { font-size: 14px; margin-top: 8px; }

.changeCredentials small { font-size: 12px; }

.changeCredentials .button { margin: 16px 0; }

.changeCredentials .unlinkButton { color: #C25100; background-color: #fff; border-color: #b1ba1d; }

.changeCredentials .unlinkButton:active { color: #C25100; background-color: #C25100; border-color: #C25100; }

.changeCredentials .unlinkButton:focus, .changeCredentials .unlinkButton:hover { text-decoration: none; }

.changeCredentials .anchors__group { margin-top: 18px; margin-bottom: 46px; }

.changeCredentials .anchors__group a { font-size: 14px; color: #b1ba1d; }

.changeCredentials .anchors__group a:after { padding-left: 12px; padding-right: 6px; content: '|'; color: #54585a; text-decoration: none; display: inline-block; }

.changeCredentials .anchors__group a:last-child:after { content: ''; }

.changeCredentials__wrapper { margin-top: 32px; }

.changeCredentials__wrapper h2, .changeCredentials__wrapper h3 { font-size: 20px; font-weight: 600; margin: 24px 0; margin-bottom: 16px; }

.changeCredentials__wrapper h2 { font-size: 22px; font-weight: 500; }

.changeCredentials__linkedSocial { text-transform: capitalize; }

.changeCredentials__info, .changeCredentials__subheader { font-size: 14px; }

.changeCredentials__info a, .changeCredentials__subheader a { font-size: inherit; line-height: inherit; text-transform: capitalize; }

.changeCredentials__connectedTo { display: flex; margin-bottom: 8px; }

.changeCredentials__connectedToText { margin-top: 14px; }

.changeCredentials__connectedToImage { margin-left: 8px; }

.changeCredentials__separator { margin-top: 32px; margin-bottom: 32px; }

.changeCredentials__separator span { width: auto; padding: 0 16px; border-radius: 20px; }

.linkAccounts__wrapper { margin-top: 32px; }

.linkAccounts__connectedTo { display: flex; }

.linkAccounts__avatar { width: 64px; height: 64px; }

.linkAccounts__avatar ~ .linkAccounts__disconnect { margin-top: 16px; margin-left: 8px; }

.linkAccounts__disconnect { margin-top: 8px; margin-left: 0; }

.linkAccounts__form { margin-top: 40px; }

.linkAccounts__forgottenPassword { display: block; margin-top: 8px; }

.linkAccounts__registrationButton { box-sizing: border-box; }

.linkAccounts__submit { margin-top: 8px; }

.linkAccounts__newMember { display: block; line-height: 1.5; color: #54585a; font-size: 16px; font-weight: bold; margin-bottom: 16px; }

.linkAccounts__separator { margin: 24px auto 16px; }

.linkAccounts__separator span { width: 24px; }

.linkAccounts .grecaptcha-badge { visibility: hidden; }

@media (min-width: 600px) { .linkAccounts__wrapper { margin-top: 96px; } }

.registration { display: flex; align-items: center; height: calc(100vh - 172px); padding-top: 24px; flex-wrap: wrap; }

.registration__intro { font-size: 13px; text-align: center; }

.registration__wrapper { position: relative; }

.registration__subheader { font-size: 14px; }

.registration__social .facebook-connect-button, .registration__social .apple-connect-button { margin-top: 8px; }

.registration__social .facebook-connect-button { margin-top: 8px; }

.registration__separator { margin: 32px auto; }

.registration__separator span { top: -12px; left: 50%; transform: translateX(-50%); z-index: 10; display: inline-block; height: 24px; width: 24px; position: absolute; font-size: 13px; font-weight: bold; line-height: 22px; color: #54585a; text-transform: lowercase; background: #fff; border: 1px solid #d4d5d5; border-radius: 20px; }

.registration__info { margin-top: 12px; }

.registration__info:before { position: absolute; top: -7px; right: 72px; content: ''; display: block; width: 0; height: 0; margin-left: -8px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #ecefc9; }

.registration__acceptTerms { margin-top: 10px; }

.registration__termsCheckbox label { font-size: 12px; margin: 0; line-height: 1.3; width: 90%; display: inline-block; vertical-align: top; }

.registration__confirmationInfo { font-size: 11px; margin-top: 10px; line-height: 1.3; color: #6d7172; }

.registration__confirmationInfo a { color: #54585a; }

.registration__connectedTo { display: flex; }

.registration__avatar { width: 64px; height: 64px; }

.registration__avatar ~ .registration__disconnect { margin-top: 16px; margin-left: 8px; }

.registration__disconnect { margin-top: 8px; margin-left: 0; }

.registration__submit { margin-top: 8px; }

.registration__formWrapper { margin-top: 16px; }

.registration__firstRow { position: relative; }

.registration__salutation { width: 85px; float: left; }

.registration__salutation select { width: 88px; }

.registration__firstName { margin-left: 93px; }

.registration__postcodeInput { position: relative; }

@media (min-width: 600px) { .registration__submit { margin-top: 0; }
  .registration__actions { width: 206px; } }

.registration .grecaptcha-badge { visibility: hidden; }

@media (min-width: 600px) { .registration { height: calc(100% - 99px); } }

.relogin__wrapper { margin-top: 32px; }

.relogin .facebook-connect-button, .relogin .apple-connect-button { margin-top: 8px; }

@media (min-width: 600px) { .relogin__wrapper { margin-top: 96px; } }

.changePassword__wrapper { margin-top: 96px; }

.changePassword__submit { margin-top: 8px; }

.forgottenPassword { display: flex; align-items: center; height: 100%; }

.forgottenPassword__wrapper { margin-top: 24px; }

.forgottenPassword__header { margin-bottom: 24px; }

.forgottenPassword__description { font-size: 14px; margin-bottom: 16px; }

.forgottenPassword__submit { margin-top: 8px; }

.forgottenPassword .grecaptcha-badge { visibility: hidden; }

@media (min-width: 600px) { .forgottenPassword__wrapper { margin-top: auto; } }

.errorPage { margin-top: 120px; height: 100%; }

.errorPage .error__buttons { display: grid; column-gap: 8px; grid-template-columns: 1fr 1fr; }

.errorPage .error__buttons--single { grid-template-columns: 1fr; }

.errorPage .error__button { padding: 0; }

@media (min-width: 600px) { .errorPage { display: flex; align-content: center; margin: auto; } }

.success-page { margin-top: 120px; height: 100%; }

@media (min-width: 600px) { .success-page { display: flex; align-content: center; margin: auto; } }
